@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-white: #FFFFFF;
    --black-color: #000000;
    --primary-color: #140D1B;
    --footer-back-color: #010101;
    --slick-slider-dots-clr: #1219D2;
    --btn-linear-dradient: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    /* font-family */
    --fm: "Poppins", sans-serif;
    --fm-sans-racing: "Racing Sans One", sans-serif;

    /* style */

    --font-style: italic;
    /* letter spacing */

    --ls-main-heading: -0.76px;
    --ls-hero-text: -1.27px;

    /* font weight */
    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */
    --fs-10: 10px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-54: 54px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-100: 100px;
    --fs-157: 157px;


    /* lh */
    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-35: 35px;
    --lh-32: 32px;
    --lh-36: 36px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.fm {
    font-family: var(--fm);
}

.fm_sans_racing {
    font-family: var(--fm-sans-racing);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_76 {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.text_black {
    color: var(--black-color);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.w_h_title_img {
    width: 40px;
    height: 40px;
}

.nav_back_clr {
    background: #FFFFFF0A;
}

.container_popular {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_deals {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_takenomics {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_accordion {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.header_back_img {
    background-image: url(../images/png/hero_section_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box_cont {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.back_footer {
    background-color: var(--footer-back-color);
}

.ellipse_pos_adj {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, -15%);
}

.ellipse_pos_adj_1 {
    position: absolute;
    top: 0;
    right: 0;
}

.ellipse_pos_adj_3 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ellipse_pos_adj_4 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.ellipse_pos_adj_5 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ellipse_pos_adj_6 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-25%);
}

.ellipse_pos_adj_7 {
    position: absolute;
    top: 0;
    left: 0;
}

.footer_items:hover {
    opacity: 1 !important;
    -webkit-text-stroke: medium;
}

.footer_items {
    cursor: pointer;
}

.svg_hover:hover {
    transform: scale(0.9);
    transition: all 400ms linear;
}

.pt_44px {
    padding-top: 44px;
}

.box_prop {
    max-width: 930px;
    /* min-height: 300px; */
    border-radius: 16px;
    background: #8A8EF714;
    border: 1px solid #FDFDFD66;
}

.gap_4px {
    gap: 4px;
}

.pe_40px {
    padding-right: 40px;
}

.me_40px {
    margin-right: 40px;
}

.btn {
    background: transparent !important;
    border: none !important;
}

.none_trans {
    transition: none !important;
}

.cursor {
    cursor: pointer;
}

.dropdown-item {
    font-family: var(--fm) !important;
    font-size: var(--fs-16) !important;
    line-height: var(--lh-24) !important;
}

.dropdown-item:hover {
    color: black !important;

}

.dropdown-menu {
    --bs-dropdown-bg: black !important;
}

.drop_btn {
    font-family: var(--fm) !important;
    font-size: var(--fs-16) !important;
    line-height: var(--lh-24) !important;
}

.px_202px {
    padding-left: 202px;
    padding-right: 202px;
}

.gap_32px {
    gap: 32px;
}

.px_32px {
    padding-right: 32px;
    padding-left: 32px;
}

.py_14px {
    padding-top: 14px;
    padding-bottom: 14px;
}

.connect_btn {
    background: var(--btn-linear-dradient);
    border-radius: 60px;
    border: 1px solid transparent;
    transition: all 400ms linear;
}

.connect_btn:hover {
    border: 1px solid var(--color-white);
    background: transparent;
}

.line_pos {
    position: relative;
    z-index: 1;
}

.input_prop {
    border: none;
    outline: none;
    /* background: #FFFFFF14; */
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
}

.prop {
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    border-radius: 8px;
}

.ps_40px {
    padding-left: 40px;
}

.color_change {
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
}

.gap_24px {
    gap: 24px;
}

.pb_29px {
    padding-bottom: 29px;
}

.gap_30px {
    gap: 30px;
}

.max_width_slider {
    max-width: 367px;
}

.slick-slide>div {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.slider_item {
    background: #1219D233;
    border-radius: 13px;
}



.acc_txt_max_width {
    max-width: 576px;
}

.d_text_none {
    display: none;
}

.rounded_13px {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.gap_11px {
    gap: 11px;
}

.pt_160px {
    padding-top: 160px;
}

.pb_50px {
    padding-bottom: 50px;
}

.pt_10px {
    padding-top: 10px;
}

/* checkbox */


.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: -2px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* end */

.search_btn {
    border-radius: 60px;
    background: var(--btn-linear-dradient);
    border: 1px solid transparent;
    transition: all 400ms linear;
}

.search_btn:hover {
    background: transparent;
    border: 1px solid var(--color-white);
}

.box_prop {
    backdrop-filter: blur(10px);
}

.line_pos::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #1219D2;
    height: 21px;
    border-radius: 21px;
    bottom: 15px;
    left: 0;
    z-index: -1;
}

.pt_20px {
    padding-top: 20px;
}

.py_30px {
    padding-top: 30px;
    padding-bottom: 30px;
}

.random_image {
    border: none;
    border-radius: 10px;
}

.pb_106px {
    padding-bottom: 106px;
}



.td_underline {
    text-decoration: underline;
}

.hover_effect {
    position: relative;
}

.hover_effect::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--btn-linear-dradient);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 400ms linear;
}

.hover_effect:hover::before {
    width: 100%;
}

.image_hover {
    max-width: 253px;
    min-height: 44px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 12px;
    left: 12px;
    transition: all 400ms linear;
    opacity: 0;
    background: #01010140;
}

.takenomics_back_img {
    background-image: url(../images/png/takenomics.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .slick-dots {
    bottom: -95px !important;
}

.hover_opa_1:hover .image_hover {
    opacity: 1;
}

.ellipse_pos_adj_8 {
    position: absolute;
    top: 0;
    right: 0;
}

.-mt_2px {
    margin-top: -2px;
}

.h_646px {
    height: 646px;
}


.ps_50px {
    padding-left: 50px;
}

.gap_100px {
    gap: 100px;
}

.gap_90px {
    gap: 90px;
}

.gap_30px {
    gap: 30px;
}

.box_take {
    width: 582px;
    min-height: 480px;
    gap: 0px;
    border-radius: 20.69px;
    background: rgba(18, 25, 210, 0.2);
}

.hover_effect:hover {
    -webkit-text-stroke: thin;
}

.back_clr {
    background: var(--primary-color);
}

.pb_40px {
    padding-bottom: 40px;
}

.straight_line {
    width: 6px;
    min-height: 64px;
    background-color: #696CDF;
}

.pt_30px {
    padding-top: 30px;
}

.pt_50px {
    padding-top: 50px;
}

.straight_line_2 {
    width: 6px;
    min-height: 64px;
    background-color: #5C368A;
}

.pb_22px {
    padding-bottom: 22px;
}

.layer_pos_adjust {
    bottom: 0;
    left: 0;
    width: 100%;
}

.layer_top_adjust {
    top: 0;
    left: 0;
    width: 100%;
}

.pb_130px {
    padding-bottom: 130px;
}

.pt_130px {
    padding-top: 130px;
}

.straight_line_3 {
    width: 6px;
    min-height: 64px;
    background-color: #E76E9A;
}

.h_170px {
    min-height: 170px;
}

.slick-dots {
    background-color: transparent;
    bottom: -65px !important;
}

.slick-dots li {
    width: 25px !important;
    height: 12px !important;
    background-color: var(--color-white);
    border-radius: 21px !important;
}

.slick-dots .slick-active {
    background-color: var(--color-white);
    width: 59px !important;
    height: 12px !important;
    border-radius: 21px !important;
}

.slick-dots .slick-active {
    background-color: var(--slick-slider-dots-clr) !important;
}

.pt_50px {
    padding-top: 50px;
}

.pb_31px {
    padding-bottom: 31px;
}

.slick-dots li button {
    display: none !important;
}

.pb_180px {
    padding-bottom: 180px;
}

.border_btm {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--color-white);
    bottom: -10px;
}

.slider_image_hover {
    position: absolute;
    top: 12px;
    left: 12px;
    backdrop-filter: blur(10px);
    opacity: 0;
    background: #01010140;
    transition: all 400ms linear;
}

.hover_apply:hover .slider_image_hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    .menubar {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .menubar>span {
        background-color: var(--color-white);
        width: 100%;
        height: 3px;
        z-index: 101;
        transition: all 400ms linear !important;
    }

    .sm_view {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--btn-linear-dradient);
        left: -100%;
        top: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 400ms linear;
    }

    .show {
        left: 0;
    }

    .d_max_none {
        display: none;
    }

    .title {
        font-size: var(--fs-24);
        line-height: var(--lh-30);
    }

    .max-lg-fs-lh-token {
        font-size: var(--fs-50);
        line-height: var(--lh-56);
    }

    .max-md-fs-lh-token {
        font-size: var(--fs-40);
        line-height: var(--lh-46);
    }

    .pos_changes_cross {
        position: relative;
        top: -13px;
    }

    .pos_changes_cross_2 {
        position: relative;
        top: 14px;
        left: 1px;
    }

    .line_pos::after {
        bottom: 9px;
    }

    .image_hover {
        max-width: 250px;
    }
}

@media (min-width: 1200px) {
    .changes_in_image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .max_w_646px {
        max-width: 646px;
    }
}

@media (min-width: 1024px) {
    .d_min_none {
        display: none;
    }
}

@media (min-width: 992px) {
    .image_change {
        max-width: 406px;
        min-height: 406px;
    }
}



@media (max-width: 575.9px) {
    .max_width {
        max-width: 220px;
    }

    .d_max_prop {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .max_me_0px {
        margin: 0;
    }

    .p_max_sm_0px {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .mt_16px_max_sm {
        margin-top: 16px;
    }

    .image_change {
        width: 100%;
        height: 100%;
    }

    .gap_10px {
        gap: 10px;
    }

    .gap_10px {
        gap: 10px;
    }

    .gap_10px {
        gap: 10px;
    }

    .ps_10px {
        padding-left: 10px;
    }

    .gap_50px {
        gap: 50px;
    }

    .md_fs_lh_travel {
        font-size: var(--fs-30);
        line-height: var(--lh-36);
    }
}

@media (min-width: 576px) {
    .slick-slide {
        margin-left: 20px;
    }

    .slick-list {
        margin-left: -20px;
    }

    .gap_143px {
        gap: 143px;
    }
}